<div class="navbar">
	<ul>
		<li><a href="#">Inicio</a></li>
		<li><a href="#">Inicio</a></li>
		<li><a href="#">Inicio</a></li>
	</ul>
</div>

<div class="container">
	<section class="introduction">
		<div>
			<h1>Bienvenido a Twitter.</h1>
			<p class="text">Conéctate con tus amigos y otras personas fascinantes. Obtén actualizaciones instantáneas de las cosas que te interesan. Mira los eventos que se están desarrollando, en tiempo real, desde todos los ángulos.</p>
		</div>
		
	</section><!--

	--><section class="forms">
		<div>
			<form action="/login"method="post">
	   			<input type="text"placeholder="Correo electrónico">
	   			<input type="password" placeholder="Contrasena" class="medium"><!--
      	 		--><input type="submit"value="Iniciar sesión">
				<label for="">
					<input type="checkbox" name="remember_me">
					Recordar mis datos
				</label>
				<span>.</span>
				<a href="#">Olvidaste tu contrasena?</a>
			</form>
		</div>

		<div>
			<h2> Eres nuevo en Twitter? <span>Regístrate</span></h2>
			<form action="/signup" method="post" class="signup">
	   			<input type="text" placeholder="Nombre completo">
	   			<input type="text" placeholder="Correo Electrónico">
	   			<input type="password" placeholder="Contrasena">
      	 		<input type="submit"value="Registrarse">
			</form>
		</div>
	</section>
		
	<section>
		<div class="tweet">
			<p>lorem ipsum dolor sit amet, consectetur adipipiscing.</p>
   			<p class="data">tweet y foto de @anonimo</p>
    		<p class="data">5:25 pm -28 nov de 2014</p>
    	</div>
	</section>
</div>